
<div class="dropdown-menu dropdown-menu-right">
    <a href="#modalLogin" class="dropdown-item" data-toggle="modal">Para Onay</a>
    <a href="#modalRegister"
       class="dropdown-item"
       data-toggle="modal">Ürün Onay</a>
    <a href="/Account/Logout"
       class="dropdown-item">Çıkış</a>
</div>