
<div class="dropdown-menu dropdown-menu-right">
    <a href="#modalLogin" class="dropdown-item" data-toggle="modal">Para Yükle</a>
    <a href="#modalRegister"
       class="dropdown-item"
       data-toggle="modal">Cüzdanım</a>
    <a href="/Account/Logout"
       class="dropdown-item">Çıkış</a>
</div>