<div class="dropdown-menu dropdown-menu-right">
    <a href="/Product/UrunEkle"
       class="dropdown-item"
      >Ürün Ekle</a>
    <a href="/Account/Dukkanim" class="dropdown-item">Dükkanım</a>
    <a href="/Account/Logout"
       class="dropdown-item">Çıkış</a>
</div>